# HOMEWORK 5

GROUP NUMBER:

GROUP MEMBERS that participated in the production of this file:

Comments:

In this problem set you will evaluate and test the CAPM using the cross-sectional framework.

### 1. 

In order to proceed you need Microsoft Excel  file "https://www.dropbox.com/s/yze3laidhv7gl1x/Homework4.xlsx?dl=1". 

This file contains 

1) one sheet called Market_proxy: It contains monthly  excess return on the market and the risk-free rate 


2) one sheet called 49_Industry_Portfolios: which contains

    * monthly returns of 49 value-weighted industry portfolios; 
    * monthly average firm size (market cap) in each industy portfolio
    * ANNUAL average BooKValue/MarketValue


HINT: 

The easiest way to import this is to use pandas.read_excel

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html

Look at the file to see how to adjsut 

read_excel(io, sheetname=0,  skiprows=None,nrows skip_footer=0, index_col=None,  parse_cols=None, parse_dates=False, date_parser=None, na_values=None)

- set sheetname='nameofsheet' you want to import
- use skiprows to tell pandas to skip the first rows before the header
- use index_col, parse_dates, date_parser as we have used several time through out the class notebooks
- use parse_cols to tell pandas which columns to import
    * For example when importing returns you will write parse_cols="A:AX", "AZ:CW" for size and so on
- set na_values as appropriate. Quickly looking at the file you will figure it out
- When import BM note that the date is different since there is only year. So the parser has to be changed approproately
- sometimes pandas import rows that you have no data. You can use nrows or skipfooter to eliminate these rows, or you can open te excel file and manually erase these rows. Even though there is nothing in them, actively erasing and saving is enougth to tell Pandas to not look there. You can also drop the redundant lines them after you import. Just make sure to do it!


In the end you should have 4 dataframes: (MKT,RF returns), (49 returns), (49 size), (49 BM). 

You can join then using merge as we did in class. Or you can keep them separate. whatever you think is easier

But if you merge pay attention because the names can get confusing.


Because I have a soft heart, here is the code that imports size and book to market and merge them together

            url="https://www.dropbox.com/s/yze3laidhv7gl1x/Homework4.xlsx?dl=1"
            import pandas as pd
            parser = lambda date: pd.to_datetime(date,format='%Y')
            BM=pd.read_excel(url, 
                       sheetname='49_Industry_Portfolios', skiprows=6,  index_col=0, 
                       parse_cols="CY:EV", parse_dates=True, date_parser=parser, na_values=-99.99)
            parser = lambda date: pd.to_datetime(date,format='%Y%m')
            SIZE=pd.read_excel(url, 
                       sheetname='49_Industry_Portfolios', skiprows=6,  index_col=0, 
                       parse_cols="AZ:CW", parse_dates=True, date_parser=parser, na_values=-99.99)
            BM['year']=BM.index.year
            SIZE['year']=SIZE.index.year
            Merged=pd.merge(SIZE,BM,'left',on='year',suffixes=['_me','_bm'])
            Merged




### Answer here:

In [2]:
#===================Importing Size & BM=====================
url="https://www.dropbox.com/s/yze3laidhv7gl1x/Homework4.xlsx?dl=1"
import pandas as pd
parser = lambda date: pd.to_datetime(date,format='%Y')
#49 BM
BM=pd.read_excel(url, 
                   sheetname='49_Industry_Portfolios', skiprows=6,  index_col=0, 
                   parse_cols="CY:EV", parse_dates=True, date_parser=parser, na_values=-99.99)
#49 size
parser = lambda date: pd.to_datetime(date,format='%Y%m')
SIZE=pd.read_excel(url, 
                   sheetname='49_Industry_Portfolios', skiprows=6,  index_col=0, 
                   parse_cols="AZ:CW", parse_dates=True, date_parser=parser, na_values=-99.99)

BM['year']=BM.index.year
SIZE['year']=SIZE.index.year

In [3]:
BM.head()

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other,year
1926-01-01,0.65,0.63,NaN,2.54,0.79,1.99,0.81,4.34,0.38,0.90,...,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.98,0.63,1926.0
1927-01-01,0.59,0.53,NaN,1.81,0.69,2.04,0.96,2.17,0.36,0.80,...,1.30,5.25,0.43,0.59,0.83,0.53,0.77,1.13,0.69,1927.0
1928-01-01,0.57,0.41,NaN,0.62,0.69,1.44,0.78,0.73,0.35,1.14,...,1.26,0.65,0.34,0.55,0.45,0.41,0.67,0.81,0.60,1928.0
1929-01-01,0.64,0.37,NaN,0.52,0.67,1.68,0.50,0.61,0.27,1.28,...,1.09,0.39,0.29,0.41,0.29,0.46,0.96,0.46,0.91,1929.0
1930-01-01,0.79,0.47,NaN,1.70,1.30,2.05,0.79,0.87,0.33,0.86,...,1.39,1.36,0.59,0.74,0.86,0.65,1.66,1.33,1.49,1930.0

In [4]:
SIZE.head()

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other,year
1926-07-01,99.80,31.19,NaN,7.12,59.72,13.00,28.64,4.33,22.27,18.36,...,68.67,1.19,46.65,10.82,14.50,31.82,22.92,10.28,24.25,1926
1926-08-01,102.06,31.15,NaN,6.75,60.47,14.12,29.34,6.50,22.13,19.83,...,69.79,0.90,46.57,11.00,15.17,31.65,23.56,9.76,25.51,1926
1926-09-01,104.34,31.95,NaN,8.58,64.03,16.50,29.10,9.29,21.18,19.29,...,72.90,0.95,46.11,10.94,16.97,32.46,24.47,9.70,27.21,1926
1926-10-01,102.91,32.21,NaN,8.92,64.42,17.88,30.58,8.83,21.23,19.03,...,72.71,0.88,46.15,10.80,16.46,32.66,23.72,9.39,26.16,1926
1926-11-01,102.34,30.90,NaN,8.62,65.08,17.62,29.01,9.31,20.14,19.03,...,70.58,0.74,45.03,10.33,14.52,31.26,22.33,9.56,23.94,1926

In [5]:
Merged=pd.merge(SIZE,BM,'left',on='year',suffixes=['_me','_bm'])
Merged.head()

,Agric_me,Food_me,Soda_me,Beer_me,Smoke_me,Toys_me,Fun_me,Books_me,Hshld_me,Clths_me,...,Boxes_bm,Trans_bm,Whlsl_bm,Rtail_bm,Meals_bm,Banks_bm,Insur_bm,RlEst_bm,Fin_bm,Other_bm
0,99.80,31.19,NaN,7.12,59.72,13.00,28.64,4.33,22.27,18.36,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.98,0.63
1,102.06,31.15,NaN,6.75,60.47,14.12,29.34,6.50,22.13,19.83,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.98,0.63
2,104.34,31.95,NaN,8.58,64.03,16.50,29.10,9.29,21.18,19.29,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.98,0.63
3,102.91,32.21,NaN,8.92,64.42,17.88,30.58,8.83,21.23,19.03,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.98,0.63
4,102.34,30.90,NaN,8.62,65.08,17.62,29.01,9.31,20.14,19.03,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.98,0.63

In [6]:
#===================Importing MKT,RF returns=====================
parser = lambda date: pd.to_datetime(date,format='%Y%m')
MKT_RF = pd.read_excel(url, 
                        sheetname = 'Market_proxy', skiprows = 5, index_col = 0,
                        parse_cols = 'A:C', parse_dates = True, date_parser = parser)
MKT_RF = MKT_RF/100
MKT_RF.head()

            Mkt-RF      RF
1926-07-01  0.0296  0.0022
1926-08-01  0.0264  0.0025
1926-09-01  0.0036  0.0023
1926-10-01 -0.0324  0.0032
1926-11-01  0.0253  0.0031

In [7]:
#===================Importing average value-weighted returns=====================
parser = lambda date: pd.to_datetime(date,format='%Y%m')
RET = pd.read_excel(url, 
                        sheetname = '49_Industry_Portfolios', skiprows = 6, index_col = 0,
                        parse_cols = 'A:AX', parse_dates = True, date_parser = parser, na_values = -99.99)
RET = RET/100
RET.head()

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
1926-07-01,0.0237,0.0012,NaN,-0.0519,0.0129,0.0865,0.0250,0.5021,-0.0048,0.0808,...,0.0770,0.0194,-0.2379,0.0007,0.0187,0.0461,-0.0054,0.0289,-0.0485,0.0520
1926-08-01,0.0223,0.0268,NaN,0.2703,0.0650,0.1681,-0.0076,0.4298,-0.0358,-0.0251,...,-0.0238,0.0488,0.0539,-0.0075,-0.0013,0.1183,0.0257,0.0530,-0.0057,0.0676
1926-09-01,-0.0057,0.0158,NaN,0.0402,0.0126,0.0833,0.0642,-0.0491,0.0073,-0.0051,...,-0.0554,0.0006,-0.0787,0.0025,-0.0056,-0.0175,0.0072,-0.0306,-0.0314,-0.0386
1926-10-01,-0.0046,-0.0368,NaN,-0.0331,0.0106,-0.0140,-0.0509,0.0537,-0.0468,0.0012,...,-0.0508,-0.0264,-0.1538,-0.0220,-0.0411,-0.1182,-0.0428,-0.0574,0.0207,-0.0849
1926-11-01,0.0675,0.0626,NaN,0.0729,0.0455,0.0000,0.0182,-0.0640,-0.0054,0.0187,...,0.0384,0.0160,0.0467,0.0652,0.0433,-0.0297,0.0358,0.0221,0.0492,0.0400

### 2. 

Consider the cross-sectional regression,

$$	R_i = γ_0 + γ_M β_{i,M} + η_i		(1) $$			
where γ0 and γM are regression parameters and βiM = cov(Ri, RM)/Var(RM). 

A) If the CAPM holds, then  what should γ0 and γM be equal to?

In [8]:
#============If the CAPM holds, then what should γ0 and γM be equal to?============
gamma11 = MKT_RF['Mkt-RF'].mean()
print (gamma11)
#While gamma00 should be zero.(如果等式左边是asset i 的excess return 的话)

0.0065007455731593685

B) Estimate γ0 and γM using the approach pioneered by Fama and MacBeth. The following  is a brief outline of the procedure:

 - Estimate βiM for each portfolio (denote the estimate biM). Assume that the betas do not change over time; hence, you can estimate the betas using full-period OLS regressions.

 - Each month estimate the cross-sectional regression, Rit = γ0t + γMt biM + nit. Note: the estimated beta (biM ) is the same for every time period (i.e., it has no time subscript).

 - Compute the time series average of the estimates of γ0 and γM. In addition, compute the standard error and t-stat of the time series averages. 

Can you reject the hypothesis that the proxy for the market portfolio is mean variance efficient? Why or why not?

In [9]:
#================merge RET with MKT_RF================
Data = pd.merge(RET, MKT_RF, how='inner', left_index=True, right_index=True)
Data.head()

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other,Mkt-RF,RF
1926-07-01,0.0237,0.0012,NaN,-0.0519,0.0129,0.0865,0.0250,0.5021,-0.0048,0.0808,...,-0.2379,0.0007,0.0187,0.0461,-0.0054,0.0289,-0.0485,0.0520,0.0296,0.0022
1926-08-01,0.0223,0.0268,NaN,0.2703,0.0650,0.1681,-0.0076,0.4298,-0.0358,-0.0251,...,0.0539,-0.0075,-0.0013,0.1183,0.0257,0.0530,-0.0057,0.0676,0.0264,0.0025
1926-09-01,-0.0057,0.0158,NaN,0.0402,0.0126,0.0833,0.0642,-0.0491,0.0073,-0.0051,...,-0.0787,0.0025,-0.0056,-0.0175,0.0072,-0.0306,-0.0314,-0.0386,0.0036,0.0023
1926-10-01,-0.0046,-0.0368,NaN,-0.0331,0.0106,-0.0140,-0.0509,0.0537,-0.0468,0.0012,...,-0.1538,-0.0220,-0.0411,-0.1182,-0.0428,-0.0574,0.0207,-0.0849,-0.0324,0.0032
1926-11-01,0.0675,0.0626,NaN,0.0729,0.0455,0.0000,0.0182,-0.0640,-0.0054,0.0187,...,0.0467,0.0652,0.0433,-0.0297,0.0358,0.0221,0.0492,0.0400,0.0253,0.0031

In [10]:
#=================transform into excess return================
Data.iloc[:,0:(Data.shape[1]-2)]=Data.iloc[:,0:(Data.shape[1]-2)].subtract(Data['RF'],axis=0)
Data.head()

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other,Mkt-RF,RF
1926-07-01,0.0215,-0.0010,NaN,-0.0541,0.0107,0.0843,0.0228,0.4999,-0.0070,0.0786,...,-0.2401,-0.0015,0.0165,0.0439,-0.0076,0.0267,-0.0507,0.0498,0.0296,0.0022
1926-08-01,0.0198,0.0243,NaN,0.2678,0.0625,0.1656,-0.0101,0.4273,-0.0383,-0.0276,...,0.0514,-0.0100,-0.0038,0.1158,0.0232,0.0505,-0.0082,0.0651,0.0264,0.0025
1926-09-01,-0.0080,0.0135,NaN,0.0379,0.0103,0.0810,0.0619,-0.0514,0.0050,-0.0074,...,-0.0810,0.0002,-0.0079,-0.0198,0.0049,-0.0329,-0.0337,-0.0409,0.0036,0.0023
1926-10-01,-0.0078,-0.0400,NaN,-0.0363,0.0074,-0.0172,-0.0541,0.0505,-0.0500,-0.0020,...,-0.1570,-0.0252,-0.0443,-0.1214,-0.0460,-0.0606,0.0175,-0.0881,-0.0324,0.0032
1926-11-01,0.0644,0.0595,NaN,0.0698,0.0424,-0.0031,0.0151,-0.0671,-0.0085,0.0156,...,0.0436,0.0621,0.0402,-0.0328,0.0327,0.0190,0.0461,0.0369,0.0253,0.0031

In [11]:
#=================estimate beta==============
Estimates = pd.DataFrame(Data.iloc[:,0:(Data.shape[1]-2)].mean())
Estimates.columns = ['AvgReturns']
Estimates['beta'] = Estimates['AvgReturns']*0

import statsmodels.api as sm

for portfolios in Estimates.index:
    x = sm.add_constant(Data['Mkt-RF'])
    y = Data[portfolios]
    results = sm.OLS(y, x, missing = 'drop').fit()
    Estimates.set_value(portfolios,'beta',results.params[1])

Estimates.head()

/Users/wenxinyi/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

       AvgReturns      beta
Agric    0.006819  0.917173
Food     0.007215  0.728618
Soda     0.007834  0.840749
Beer     0.009352  0.946365
Smoke    0.008880  0.631790

In [12]:
#================creating FamaMacbeth=============
FamaMacbeth = Data.iloc[:,0:2].copy()
FamaMacbeth.columns=['gamma0','gamma1']

FamaMacbeth.head()

            gamma0  gamma1
1926-07-01  0.0215 -0.0010
1926-08-01  0.0198  0.0243
1926-09-01 -0.0080  0.0135
1926-10-01 -0.0078 -0.0400
1926-11-01  0.0644  0.0595

In [22]:
 y = (Data.loc[date,:]).iloc[0:(Data.shape[1]-2)]
y

Agric   -0.0275
Food     0.0355
Soda     0.0668
Beer     0.0351
Smoke    0.0959
Toys    -0.0385
Fun      0.0800
Books   -0.0299
Hshld    0.0097
Clths    0.0597
Hlth     0.0196
MedEq    0.0491
Drugs    0.0357
Chems   -0.0490
Rubbr    0.0130
Txtls   -0.0072
BldMt    0.0174
Cnstr    0.0069
Steel   -0.0922
FabPr   -0.1929
Mach    -0.0589
ElcEq   -0.0429
Autos   -0.0322
Aero    -0.0193
Ships    0.0511
Guns     0.0915
Gold    -0.2627
Mines   -0.1074
Coal    -0.2630
Oil     -0.0895
Util     0.0262
Telcm    0.0145
PerSv    0.0230
BusSv    0.0132
Hardw    0.0285
Softw    0.0606
Chips   -0.0274
LabEq    0.0088
Paper   -0.0051
Boxes   -0.0090
Trans    0.0327
Whlsl   -0.0130
Rtail    0.0578
Meals    0.0415
Banks    0.0267
Insur    0.0166
RlEst    0.0155
Fin      0.0025
Other    0.0285
Name: 2015-07-01 00:00:00, dtype: float64

In [13]:
#=================estimating gamma0 & gamma1=================
x = sm.add_constant(Estimates['beta'])
for date in Data.index:
    y = (Data.loc[date,:]).iloc[0:(Data.shape[1]-2)]
    results = sm.OLS(y,x,missing = 'drop').fit()#drop掉missing的
    FamaMacbeth.set_value(date,'gamma0',results.params[0])#intercept
    FamaMacbeth.set_value(date,'gamma1',results.params[1])#slope
FamaMacbeth.head()

              gamma0    gamma1
1926-07-01  0.030723 -0.001180
1926-08-01  0.045367 -0.003406
1926-09-01  0.036414 -0.038136
1926-10-01  0.030804 -0.062423
1926-11-01  0.053362 -0.023481

In [14]:
#=================getting the average of gamma0 & gamma1=================
coefficientsAVG = FamaMacbeth.mean()
coefficientsSTDEV = FamaMacbeth.std()
samplesize = FamaMacbeth.shape[0]
coefficientsAVG

gamma0    0.005196
gamma1    0.002314
dtype: float64

In [23]:
gamma11

0.0065007455731593685

In [24]:
samplesize

1069

In [15]:
#==========In addition, compute the standard error and t-stat of the time series averages.==========
stderr = coefficientsSTDEV/(samplesize**0.5)
tstats_gamma0 = coefficientsAVG[0] / stderr[0]
tstats_gamma1 = (coefficientsAVG[1]-gamma11) / stderr[1]

print (stderr)
print (tstats_gamma0)
print (tstats_gamma1)#这里相当于斜率和截距都堪称独立的参数，对他们的预测值就是mu0，也就是他们的样本均值，想要知道的是总体均值能不能用样本均值来估计

gamma0    0.001904
gamma1    0.002560
dtype: float64
2.72871624853
-1.6354120398

In [16]:
#===========Can you reject the hypothesis that the proxy for the market portfolio is mean variance efficient? 
#Why or why not?===========

#null hypothesis: gamma0=0
#We assume that alpha is 0.05, the corresponding t threshold is 2.012. As tstats_gamma0 > 2.012
#we should reject gamma0 = 0

#null hypothesis: gamma1=market excess return
#tstats_gamma1= -1.6354120398 < 2.012, so we don't reject gamma1=market excess return.

#So we can not say that the proxy for the market portfolio is mean variance efficient


C).	Estimate the cross-sectional regression, average(Ri) = γ0 + γM biM + ni.  
Are the estimates of γ0 and γM different than the average estimates in part b?  
Are the standard errors of the estimates of γ0 and γM different than the standard errors of the average estimates in question 2? Why or why not? 
Which method is superior? Why?





 ### Answer here:

In [17]:
#==========Estimate the cross-sectional regression, average(Ri) = γ0 + γM biM + ni.==========
y =  Estimates['AvgReturns']
x = sm.add_constant(Estimates['beta'])
results_c = sm.OLS(y,x, data = Estimates).fit()
results_c.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             AvgReturns   R-squared:                       0.054
Model:                            OLS   Adj. R-squared:                  0.034
Method:                 Least Squares   F-statistic:                     2.687
Date:                Sun, 29 Oct 2017   Prob (F-statistic):              0.108
Time:                        23:45:41   Log-Likelihood:                 250.03
No. Observations:                  49   AIC:                            -496.1
Df Residuals:                      47   BIC:                            -492.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0059      0.001      5.855      0.000       0.004       0.008
beta           0.0015      0.001      1.639      0.108      -0.000       0.003
==============================================================================
Omnibus:                        4.612   Durbin-Watson:                   1.632
Prob(Omnibus):                  0.100   Jarque-Bera (JB):                3.587
Skew:                          -0.474   Prob(JB):                        0.166
Kurtosis:                       3.927   Cond. No.                         9.28
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [18]:
#==========Estimate the cross-sectional regression, average(Ri) = γ0 + γM biM + ni.==========
print (results_c.params[0])#intercept
print (results_c.params[1])#slope

0.0058738535514
0.00149503391306

In [19]:
Estimates['AvgReturns'].

SyntaxError: invalid syntax (<ipython-input-19-a49de31c5ecc>, line 1)

In [ ]:
#std err of average return 还是 他的系数？
aaa = Estimates['beta'].std()/Estimates.shape[0]**0.5
aaa

In [ ]:
#==========Are the estimates of γ0 and γM different than the average estimates in part b?==========
#In part b, estimates of gamma0 = 0.005196; estimates of gamma1 = 0.002314
#In this part, estimates of gamma0 = 0.0058738535514; estimates of gamma1 = 0.00149503391306
#So, they are a bit different from each other.

In [ ]:
#==========Are the standard errors of the estimates of γ0 and γM different than the standard errors of the 
#average estimates in question 2? Why or why not? Which method is superior? Why?========

#Fama and MacBeth method
#standard error for gamma0: 2.72871624853
#standard error for gamma1: -1.6354120398

#cross-section estimate
#std error = 0.001 for both beta and const

D).	Plot the average(Ri) for the portfolios against their biM. 
Does the plot resemble a positive relationship? 
What should the plot look like?

In [ ]:
#=========Plot the average(Ri) for the portfolios against their biM. =========
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

Estimates.plot(x='beta',y='AvgReturns',kind='scatter')
betas = np.linspace(0,2,20)

plt.plot(betas,results_c.predict(exog=sm.add_constant(betas)))

In [ ]:
#============Does the plot resemble a positive relationship? What should the plot look like?===========
#The plot resemble a positive relationship between beta and average return, but does not follow with what CAPM 
#estimates that well.
#According to CAPM, E(Ri) = Rf + betai(E(RM)-Rf), that's to say, individual stock's excess return = betai*market excess
#return. So, if CAPM holds, the CAPM line should cross the (0,0) and the slope should be excess market return.



E) Now, Consider the cross-sectional regression, 

$$		Ri = γ_0 + γ_M β_{iM} + γ_{size} ln(size)  + γ_{B/M} ln(BE/ME) + ηi,$$
 
	where γ0, γM, γsize, and γB/M are regression parameters,  βiM = cov(Ri, RM)/σ2(RM), and size and BE/ME are the average size and  book to market ratio of the portfolio. 

Note that size is provided on a monthly basis, but BE/ME is provided on an annual basis. For simplicity, assume BE/ME within each year is constant so that you have 12 constant BE/ME numbers within each year.

If the CAPM holds, then what  γsize and γB/M should be equal to?

In [ ]:
#gamma_size & gamma_b/m should both be zero

F). Estimate γ0, γM, γsize and γB/M using the Fama MacBeth procedure. The following is a brief outline of the procedure:

   -  Estimate βiM for each portfolio. Assume that the betas do not change over time; hence, you can estimate the betas using full-period OLS regressions. (Note:  you have already done this.)

   -  Each month estimate the regression, 

$$		Ri = γ_0 + γ_M β_{iM} + γ_{size} ln(size)  + γ_{B/M} ln(BE/ME) + ηi,$$

Note: You need to lag size and BE/ME appropriately in the regression. This means that size and BE/ME need to be measured ex ante and therefore must be the previous month’s size and previous year’s BE/ME.

     * Why is it important that the size and BE/ME characteristics should be lagged values?

  - Compute the time series average of the estimates of γ0, γM, γsize, and γB/M. In addition compute the standard error and t-stat of the time series averages. (Cosntruct t-tests usign the relevant null for the CAPM. For example use your answer to A as the null for  γsize and γB/M  )

Can you reject the hypothesis that the proxy for the market portfolio is mean variance efficient? Why or why not?


 ### Answer here:

In [ ]:
#=========Why is it important that the size and BE/ME characteristics should be lagged values?=========

In [ ]:
#===============Creating new index=====================
Data2 = Data.set_index(Merged.index)#or：Data2.index = Merged.index
Data2.head()

In [ ]:
#============Creating FamaMacbeth===============
FamaMacbeth_f = Data2.iloc[:,0:4].copy()
FamaMacbeth_f.columns = ['gamma0','gamma_m','gamma_size','gamma_bm']

FamaMacbeth_f.set_value(0,['gamma0','gamma_m','gamma_size','gamma_bm'],np.nan)
FamaMacbeth_f.head()

In [ ]:
#============Lagged values=========
Merged2 = Merged.shift(1)
Merged2.head()

In [ ]:
#===========estimating gamma0,gamma_m,gamma_size,gamma_bm============
for i in range(1,Data2.shape[0]):
    y=(Data2.loc[i,:]).iloc[0:(Data2.shape[1]-2)]
    x1 = Estimates['beta']
    x2 = np.log((Merged2.loc[i,:]).iloc[0:(SIZE.shape[1]-1)].astype(np.float64))
    x3 = np.log((Merged2.loc[i,:]).iloc[(SIZE.shape[1]):].astype(np.float64))
    c = pd.DataFrame({'x1':np.array(x1),'x2':np.array(x2),'x3':np.array(x3)})
    x = sm.add_constant(c)
    xx = x.set_index(y.index)
    results = sm.OLS(y,xx,missing='drop').fit()  

    FamaMacbeth_f.set_value(i,'gamma0',results.params[0])#intercept
    FamaMacbeth_f.set_value(i,'gamma_m',results.params[1])
    FamaMacbeth_f.set_value(i,'gamma_size',results.params[2])
    FamaMacbeth_f.set_value(i,'gamma_bm',results.params[3])

In [ ]:
FamaMacbeth_f.head()

In [ ]:
#============the time series average of the estimates of γ0, γM, γsize, and γB/M============
gamma0_m = FamaMacbeth_f['gamma0'].mean()
gamma_m_m = FamaMacbeth_f['gamma_m'].mean()
gamma_size_m = FamaMacbeth_f['gamma_size'].mean()
gamma_bm_m = FamaMacbeth_f['gamma_bm'].mean()

print (gamma0_m)
print (gamma_m_m)
print (gamma_size_m)
print (gamma_bm_m)

In [ ]:
#====In addition compute the standard error and t-stat of the time series averages. 
#(Construct t-tests using the relevant null for the CAPM. 
#For example use your answer to A as the null for γsize and γB/M )

#standard error
stderr0 = gamma0_m/(FamaMacbeth_f['gamma0'].std()/(FamaMacbeth_f.shape[0]**0.5))
stderr_m = gamma_m_m/(FamaMacbeth_f['gamma_m'].std()/(FamaMacbeth_f.shape[0]**0.5))
stderr_size = gamma_size_m/(FamaMacbeth_f['gamma_size'].std()/(FamaMacbeth_f.shape[0]**0.5))
stderr_bm = gamma_bm_m/(FamaMacbeth_f['gamma_bm'].std()/(FamaMacbeth_f.shape[0]**0.5))


print (stderr0)
print (stderr_m)
print (stderr_size)
print (stderr_bm)

In [ ]:
#H0: gamma_size = gamma_bm = 0
t_gamma_size = gamma_size_m / stderr_size
t_gamma_bm = gamma_bm_m / stderr_bm

print (t_gamma_size)
print (t_gamma_bm)